@import url("themes/blank.css");

aside.panel.visible {
  display: block;
  position: absolute;
  z-index: 12000;
  background: var(--bg);
  color: var(--fg);
  border: thin solid var(--contrast) ;
  width: min(80vw, 200px);
  max-height: min(85vw, 300px);
  overflow-y: scroll;
  padding: 1em;
  right: 1px;
}

aside.panel:not(.visible) {
  display: none;
}

ul li {
  display: flex;
  user-select: none;
  width: min(80vw, 200px);
  cursor: default;
  justify-content: space-between;
}

ul li > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
