:root {
  --blk: #eee 
  --blu: #aaa;
  --grn: #222;
  background: var(--blk);
  color: var(--grn);
  min-height: 100%;
  height: 100%;
}

.red {
  color: red;
}

body, button, input, a, select {
  font-family: system-ui;
  font-size: 18.51px;
}

body {
  display: grid;
  grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: 20% 1fr 20%; 
  grid-template-rows: auto 1fr 5rem;
  min-height: 100%;
  height: 100%;
  margin: 5rem auto;
  max-width: 666.67px;
  width: 85.1vw;
}

ol, dl {
  margin: 0;
  padding: 0;
}

dd {
  margin-left: 1.5rem;
  margin-top: 0.25rem;
}

header {
  grid-area: header;
  display: flex;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

svg {
  vertical-align: middle;
  fill: dodgerblue;
}

.form-holster {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}

form {
  margin: 0 auto;
}

header form fieldset,
header form fieldset legend {
  background: #eee;
}



footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

h1, h2, h3, a {
  color: var(--blu);
}

button, input, legend, select, legend {
  background: var(--blu);
  color: var(--blk);
  border-color: var(--grn);
  border: medium solid;
}

fieldset {
  border-color: var(--grn);
}

article {
  margin: 4.5rem 1.5rem;
  min-width: 280px;
}

legend {
  padding: 0.35rem;
}

form:invalid + form {
  display: none;
}

section.promo {
  font-size: larger;
}

form.cta {
  margin-top: 3rem;
}
form.cta select, 
form.cta button,
label.cta {
  font-size: 108.5%;
}

form.cta button,
label.cta {
  background: linear-gradient(to right, aqua, dodgerblue);
  color: white;
}

.logo {
  background: linear-gradient(to right, aqua, dodgerblue);
  line-height: 100px;
  padding-right: 1rem;
  font-size:300%;
}

.logo .name {
  margin-left: -0.5em;
}

section {
  margin: 2rem auto;
}

code {
  background: linear-gradient(to right, aqua, dodgerblue);
  padding-right: 1rem;
  color: white;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, sans-serif, system-ui;
}
