.DS_Store
.parcel-cache
.parcel-cache/*
.*.un~
*~
.*.swo
process_actions.sh
core
build.log
build/*
dist/*
src/public/torca/rootCA.pem
src/public/assets/ruffle
src/public/assets/flash/*.swf
src/public/assets/flash/*.as
src/public/assets/flash/*.fla
src/public/assets/flash/*.jsfl
BrowserBox*js
typetests
vim.exe.stackdump
pptr-console-server/*.png
*.stackdump
debug.log
auto_killer_data*
file_transfer_groups
node_modules
.*.swp
isolate*
nohup.out

