
module my_custom_policy_module 1.0;

require {
	type NetworkManager_dispatcher_chronyc_t;
	type unlabeled_t;
	type NetworkManager_dispatcher_dhclient_t;
	class file getattr;
}

#============= NetworkManager_dispatcher_chronyc_t ==============
allow NetworkManager_dispatcher_chronyc_t unlabeled_t:file getattr;

#============= NetworkManager_dispatcher_dhclient_t ==============
allow NetworkManager_dispatcher_dhclient_t unlabeled_t:file getattr;
