:not(:defined), .bang-el:not(.bang-styled):not([incremental-load]) {
  visibility: hidden;
}

body .bang-el:first-of-type:not(.bang-styled)::before,
[lazy].bang-el:not(.bang-styled)::before {
  position: absolute;
  top: 0;
  margin: 0.5rem;
  z-index: 9999999;
  display: inline-block;
  width: fit-content;
  max-width: 20px;
  content: "Loading...";
  background-image: url(loader.gif);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  visibility: visible;
}
