  @import url(form.css);

  /* authentication form */
    a.authenticate {
      display: inline-block;
      height: 2em;
      padding: 0.25em 3em;
      border-radius: 2em;
    }

    form.authentication {
      position: absolute;
      top: 0;
      right: 2rem;
    }

    form.authentication fieldset {
      position: relative;
      top: 5rem;
      min-width: 204px;
      max-width: 95vw;
      max-height: 80vh;
      border: 0;
      border-radius: 0.25em;
      padding: 1em;
    }

    form.authentication fieldset label {
      width: 100%;
    }

    form.authentication legend {
      padding: 1px 0.5em;
    }

  /* authentication menu */
    form.authentication fieldset {
      display: none;
    }

    form.authentication:target fieldset {
      display: block;
    }


