  /* main content */
    main section.content {
      padding: 0 1em;
    }

    main section.content > section {
      display: flex;
      justify-content: space-around; 
      align-items: center;
      flex-wrap: wrap;
      min-height: 67vh;
    }

    main > section.content > section {
      flex-wrap: wrap-reverse;
    }

    main section.content section div {
      margin: 2em;
    }


    main section.content > section:nth-of-type(2n) {
      flex-wrap: wrap-reverse;
    }

