  /** element styles **/
    main fieldset {
      border-radius: 0.5em;
    }

    nav h1 {
      margin: 0;
    }

    nav ul {
      padding: 0;
    }

    fieldset input[type="number"] {
      max-width: 11em;  
    }

