  /** form **/
    form fieldset label {
      display: inline-flex;
      flex-direction: column;
    }

    form fieldset p {
      max-width: 500px;
    }

    form fieldset .legal-agree label {
      display: inline-block;
    }
