  /* header nav */
    header nav a.drawer {
      display: none; 
    }

    header nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    header nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      margin: 0;
      list-style-type: none;
    }
    
    header nav ul li {
      display: inline-block;
      margin: 0 0.5em;
    }

  /** sticky header **/
    .header-background {
      display: block;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      width: 100%;
      content: " ";
    }

    header, .header-background {
      box-sizing: border-box;
      height: 5em;
      padding: 0 1em;
    }

  /* stateful behaviour */
    header nav a.current-page {
      position: relative;
    }

    header nav a.current-page::after {
      position: relative;
      content: "!";
    }
    
