  @import url(form.css);

  /* registration form */
    a.register {
      display: inline-block;
      height: 2em;
      border-radius: 2em;
      line-height: 2em;
      padding: 0.25em 1em;
    }

    form.registration {
      position: absolute;
      top: 0;
      right: 2rem;
    }

    form.registration fieldset {
      position: relative;
      top: 5rem;
      max-width: 95vw;
      max-height: 80vh;
      padding: 1.5em;
      border: 0;
      border-radius: 0.25em;
    }

    form.registration legend {
      display: none;
    }

    section.cta a.register {
      display: inline-block;
      height: 2em;
      padding: 0.25em 1em;
      border-radius: 2em;
    }

  /* stateful behaviour of registration menu */
    form.registration fieldset {
      display: none;
    }

    form.registration:target fieldset {
      display: block;
    }

