  /** z-stack **/
    main > section.content div {
      z-index: 2;
    }

    .diagonal-background {
      z-index: 2;
    }

    hr.diagonal {
      z-index: -1;
    }

    header aside.logo {
      z-index: 20;
    }

    main > section.content:first-of-type > section:first-of-type {
      z-index: 2;
    }

    main footer::after {
      z-index: -1;
    }

    header nav a.drawer ~ ul {
      z-index: 4;
    }

    .header-background {
      z-index: 2;
      grid-area: header2;
    }

    header {
      z-index: 3;
    }

    main section.content {
    }

    main section.content > section div.graphic {
    }

    form.registration fieldset {
      z-index: 10000;
    }

    form.authentication fieldset {
      z-index: 10000;
    }


