<header class=topbar stylist=styleTopBar>
  <span class=online-count>${state.onlineCount || 1} online</span>
  <span class="network-status ${globalThis.navigator.onLine ? '' : 'offline'}">${globalThis.navigator.onLine ? '' : 'offline'}</span>
  <span class="connection-status">${state.serverConnected ? '' : 'server disconnected'}</span>
  <span class="webrtc-status">${_top.OPTIONS.showWebRTCStatus && state.webrtcConnected ? 'webrtc' : ''}</span>
  <span class="audio-status">${_top.OPTIONS.showAudioStatus && state.audioConnected ? 'audio' : ''}</span>
  <span class="bw-status">${_top.OPTIONS.showBWStatus && state.showBandwidthIssue ? 'bandwidth issue' : ''}</span>
  ${!_host.vanish ? F`
    <div id="download-status-bar" class="status-bar ${_host.downloadState.activeDownloads ? "progress" : "done"}" title="${_host.downloadState.completedDownloads} completed download${_host.plural ? "s" : ""}">
      ${_host.totalFiles > 1 ? F`
        <span class=download-count>
          ${_host.downloadState.completedDownloads}/${_host.totalFiles}
        </span>
        <span class=wide-word>&nbsp;downloaded</span>
      ` : F`
        <span class=wide-word>1&nbsp;download</span>
      `}
      <progress class="download-meter" 
        min=0 
        step=0.01
        max="${Math.max(_host.totalFiles, 1)}"
        value="${_host.progressValue}"
      ></progress>       
      <span class="download-mb">
        ${_host.megabytesReceived} MB
      </span>
    </div>` : F`<!-- download progress -->`
  }
</header>
