@import url("themes/blank.css");

.status-bar {
  vertical-align: super;
  height: 15px;
  max-height: 16px;
  max-width: 350px;
  display: inline-flex;
  align-items: center;
}

.status-bar.progress {
  cursor: progress;
}

.download-count, .download-mb {
  font-size: 10px;
}

.download-meter {
  flex: 1;
  max-width: 100%;
  height: 8px;
  max-height: 8px;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

meter::-webkit-meter-optimum-value {
  max-height: 8px;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background: green;
}

@media screen and (max-width: 600px) {
  .status-bar {
    max-width: 38vw;
    max-height: 16px;
    overflow: hidden;
  }
  .wide-word {
    display: none;
  }
  .download-count, .download-mb {
  }
}

/* Shimmer effect */
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmering {
  animation: shimmer 1.5s ease infinite;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  background-size: 200% 100%;
}

