# folders
.vscode/
test/

# dev files
.appveyor.yml
.editorconfig
.eslintignore
.eslintrc.js
.travis.yml
gulpfile.js

# ignore TypeScript source files
src/

# allow JS & TypeScript declaration files
!dist/
