@import url("themes/blank.css");

video#audio {
  display: none;
}

canvas {
  filter: contrast(1.0317) saturate(1.309);
  image-rendering: pixelated;
}

@media screen and (max-width: 600px) {
  canvas {
    filter: saturate(1.309) contrast(1.309);
  }
}
