
    <!DOCTYPE html>
    <meta charset=utf-8>
    <title>Login and Signup</title>
    <main>
      <header>
        <h1>Dosy Browser</h1>
      </header>
      <section class=cta>
        
      <!DOCTYPE html>
      <main>
        <form method=POST action=/current/demolanding/event/imreadytotryit>
          <fieldset>
            <legend>New User Sign Up</legend>
            <p>
              Enjoy a saner, simpler internet. 
            <p>
              Read to start?
            <p>
              <button autofocus>I'm ready. Sign me up!</button>
              <button type=reset>No, I like being lost in confusion.</button>
          </fieldset>
        </form>
      </main>
    
      </section>
      <section class=cta>
        
    <form method=POST action=/current/demolanding/event/login>
      <fieldset>
        <legend>Existing User Login</legend>
        
        <p>
          <label>
            Your username
            <input required type=text name=username placeholder=username value=>
          </label>
        <p>
          <label>
            and password
            <input required type=password name=password placeholder=password>
          </label>
        <p>
          <button>LOGIN</button>
      </fieldset>
    </form>
  
      </section>
    </main>
  