  /* footer */
    footer {
      display: flex;
      position: relative;
    }

    footer author {
      width: 33%;
      max-width: 500px;
      min-width: 200px;
      padding: 0 0.5em;
    }

    footer author aside.logo {
      margin: 0;
      padding-right: 0.5em;
    }

    footer author h1 {
      display: inline-block;
    }

    footer nav {
      display: flex;
      flex: 1;
      justify-content: space-around;
    }

    footer nav ul {
      list-style-type: none;
    }

