  /* main graphics */
    main section.content > section div.graphic img {
      max-width: 33vw;
      max-height: 55vh;
    }

    main section.content > section div.graphic img.absurd {
      max-width: 42vw;
      filter: contrast(185%);
    }

