  /* main points */
    main section.content > section div.points {
      padding: 2em 4em;
      max-width: 377px;
      border-radius: 0.5em;
    }

    main section.content > section div.points ul {
      list-style-type: disc;
    }

    main section.content div.price.points {
      font-size: x-large;
    }

