  /** typesetting **/
    body * {
      font-family: var(--body-text);
    }

    header aside.logo {
      font-size: 88%;
    }

    header a {
      text-decoration: none;
    }

    header nav ul li > a {
      font-weight: bold;
      text-decoration: none;
      font-family: var(--header-text);
    }

    fieldset, button, select, label, fieldset a {
      font-family: var(--input-text);
    }

    fieldset input {
      font-family: var(--input-text);
    }

    h1 {
      font-family: var(--header-text);
    }

    h1 {
      font-size: 1.5em;
    }

    main .points h1 {
      font-size: 1.3em;
    }

    form fieldset label {
      font-size: smaller;
    }

    form fieldset .legal-agree {
      font-size: smaller;
    }

    form a.cancel {
      font-size: smaller;
    }

    fieldset a {
      text-decoration: underline;
    }

    a.register {
      font-weight: bold;
      text-decoration: none;
    }

    section.cta {
      font-size: larger;
    }

    section.cta a.register {
      font-size: xx-large;
      line-height: 2em;
      font-weight: bold;
      text-decoration: none;
    }

    a.authenticate {
      line-height: 2em;
      font-weight: bold;
      text-decoration: none;
    }

    form.authentication legend {
      font-weight: bold;
      text-align: right;
    }

    p, li, a {
      line-height: 135%; 
    }

    footer {
      font-size: smaller;
    }

    footer author p {
      text-align: justify;
    }

    footer author cite {
      font-size: smaller;
      font-family: var(--system);
    }

