  /** colors **/
    body * {
      color: inherit;
    }
    
    /* headers and backgrounds */
      .header-background {
        background: var(--c1);
      }

      div.diagonal-background {
        background: linear-gradient(to bottom right, var(--c1), var(--c2));
      }

      .diagonal-background, hr.diagonal {
        background: var(--shadow1);
      }

      header {
        background: transparent;
      }

      header nav a.current-page::before {
        color: var(--shadow3);
      }

      .header-background header {
        color: var(--shadow1);
      }

    /* forms and buttons */
      form.registration fieldset {
        background: var(--c1);
      }
      
      form.registration button {
        color: var(--black);
      }

      form.authentication fieldset {
        background: var(--c2);
      }

      a.register {
        background: var(--c1);
        border: thin solid transparent;
      }

      section.cta a.register {
        border: thin solid transparent;
        background: var(--c2);
      }

      a.authenticate {
        border: thin solid transparent;
        background: var(--c2);
      }

    /* main points */
      main section.content > section div.points {
        color: inherit;
        background: var(--shadow1);
        box-shadow: 0 0 2em var(--shadow2);
      }

      main section.cta .points {
        background: var(--c2) !important;
      }

    /* main story */
      main section.content > section div.story {
        border: 1em solid transparent;
      }

      main section.content div.story h1 {
        border-bottom: medium solid;
      }

    /* footer */
      main footer,
      main footer::after {
        background: var(--shadow1);
      }


