div.document {
  margin: 0 auto;
  width: 666px;
  max-width: 90vw;
  padding: 1em;
  border-radius: 0.5em;
  background: var(--shadow1);
  box-shadow: 0 0 0.5em 0 var(--shadow2);
  margin-bottom: 18em;
}

section.legal {
  flex-direction: column;
}
