/** fonts **/
  @font-face {
    font-family: F;
    src: url("/fonts/FallingSky.otf");
  }

  @font-face {
    font-family: T;
    src: url("/fonts/TitilliumWeb-Regular.ttf");
  }

	@font-face {
		font-family: 'DOS';
		font-style: normal;
		font-weight: normal;
		src: url('/fonts/Fixedsys500c.woff');
	}

  @font-face {
    font-family: 'Plex';
		src: url('/fonts/plex.woff2');
  }

